*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Sofia&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}
:root{
    --header-height: 3.5rem;

    /* ======================Colors================== */
    --first-color: #DA2535;
    --first-color-atl: #C42130;
    --text-color: #432726;        
    --text-color-atl: #ffffff;

    /* ===========font and typography=========== */
    --logo-font: 'Sofia', cursive;
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    /* ============Font weight============== */
    --font-semi-bold: 600;
    --font-blod: 700;

    /* =============Margens=============== */
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;


    /* ===========Z index============== */
    --z-tooltip: 10;
    --z-fixed: 100;

}



/* ================= Base ================== */
*,::before, ::after{
    box-sizing: border-box;
}
button:: {
    padding: 0px;
    border: 0px;
}

button::-moz-focus-inner {
    padding: 0px;
    border: 0px;
}


/* ========== classes css=============== */
.section{
    padding: 4rem 0 2rem;
}

.section-title, .section-title-center{
    font-size: var(--h2-font-size);
    color: var(--text-color);
    text-align: center;
    margin-bottom: var(--mb-1);
}

.section-subtitle{
    font-size: 1rem;
}

/* ============layout=================== */
.l-main{
    overflow: hidden;
}

.bd-container{
    max-width: 968px;
    width:calc(100% - 3rem);
    margin-left: auto;
    margin-right: auto;
}
.bd-grid{
    display: grid;
    gap: 1.5rem;
}
.l-header{  
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: var(--z-fixed);
    background-color:var(--body-color);
    background: var(--first-color);
    

}

/* =========== Nav ================== */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--first-color);
    color: var(--text-color-atl);
    padding: 0 1.5rem;
    
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}
.nav_menu{
    display: flex;
}

.nav_list{
    list-style: none;
     display: flex;
}
.nav_link{
    text-decoration: none;
    color: var(--text-color-atl);
    
}

.nav_logo{
    color: var(--text-color-atl);
    text-decoration: none;
    font-family: 'Sofia', cursive;
    font-size: var(--h2-font-size);
    font-style: italic;
}
.cart_icon{
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}



@media screen and (max-width: 768px){
.nav_menu{
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    bottom: 0;        
    left: 0;
    width: 100%;
    height: var(--header-height);
    background:var(--first-color);
    padding: 0 1.5rem;
    }
    .nav_list{
        flex-direction: row;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        gap: 1rem;
    }
}

/* ================ Home ===================== */

.home_container{
    height: calc(100vh - (2*var(--header-height)));
    align-content: center;
    justify-content: center;
    margin-top: var(--header-height);
    padding: 0 var(--mb-3);
    
  
}
.home_img{
    width: 350px;
}
.home_special, .home_title, .home_description, .button{
    text-align: center;
}
.home_special{
    display: block;
    color: var(--first-color);
    font-family: var(--logo-font);
    text-transform: uppercase;
    font-size: var(--biggest-font-size);
    font-weight: 600;
}
.home_title{
    font-size: var(--biggest-font-size);
}

.home_description{
    margin-bottom: var(--mb-2);
    line-height: 1.4;
    font-size: var(--normal-font-size);
}
.button-wrapper{
    width: 100%;
    text-align: center;
}
.button{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 1rem 2.5rem;
    color: var(--text-color-atl);
    background: var(--first-color);
    border-radius: 2rem;
    margin-top: var(--mb-1);
    transition: all 0.35s ease-in-out;
}
.button:hover{
    background-color: var(--first-color-atl);
}


/* ==================== Services =================== */
.services_container{
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    text-align: center;
}

.services_icon{
    font-size: 3rem;
}

.services_content{
    box-shadow: 0 2px 4px rgba(73, 73, 73, 0.15);
    padding: 1rem 2rem; 
    border-radius: .5rem;
}
.services_title{
    font-size: var(--h2-font-size);
    font-weight: 600;
}
.services_description{
    font-size: var(--normal-font-size);
}


/* =================== Menu ================= */
.menu_container {
    grid-template-columns: repeat(2, 1fr);
}
.menu_title{
 font-size: var(--biggest-font-size);
}
.menu_data{
    text-align: center;
}
.menu_data_img{
    width: 128px;
}
.menu_data_price{
    color: var(--first-color);
    font-weight: bold;
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}

.add_to_cart{
    text-decoration: none;
    font-size: var(--small-font-size);
    color: var(--text-color-atl);
    background: var(--first-color);
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .35s ease-in-out;
}

.add_to_cart:hover{
    background-color: var(--first-color-atl);

}

/* ================== footer ================= */
.footer{
font-size: var(--normal-font-size);
margin-top: var(--mb-6);
background: #f4f4f4;
padding: var(--mb-2) var(--mb-6);
margin-bottom: 0;
position: absolute;
width: 100%;
left: 0;


}
.footer_container{
    grid-template-columns: repeat(auto-fit,minmax(158px, 1fr));
    gap: 2rem;
}

.footer_logo{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--first-color);
    font-weight: 600;
    font-family: 'Sofia', cursive;
    font-style: italic;
    
}

.social{
    font-size: 2rem;
    color: var(--text-color);
    margin-right: var(--mb-2);
    margin-top: var(--mb-1);
    
}

.footer_link{
    display: inline-block;
    color: var(--text-color);

}


.footer_content li{
    list-style: none;
    line-height: 1.8;
    display: block;
}

.footer_copy{
    margin-top: var(--mb-5);
    text-align: center;
    font-size: var(--small-font-size);
}



/* =================Cart ================== */
.cart_img{
    width: 128px;
}
.cart_item_container{

grid-template-columns: 1fr 1fr;
justify-items: center;


}

.adjust_qty{
    position: relative;
    width: 105px;
    display: flex;
    margin-top: var(--mb-1); 
    justify-content: space-between;
    height: 28px;
}
.adjust_qty input{
    width: 65px;
    height: 30px;
    font-size: 16px;
    padding: 0 5px;    
}
.qty_btn{
    position: absolute;
    width: 30px;
    height: 100%;
    border: none;
    /* border-radius: 5px; */
    /* border: 1px solid white; */
    height: 13px;
    left: 33px;
}
.increment_btn{
    top: 0;
    top: 1px;

}
.decrement_btn{
    bottom: 0px;
    bottom: -1px;

}
.item_price{
    font-size: var(--normal-font-size);
    color: var(--first-color);
}
.remove_btn{
    border: none;
    font-size: 24px;
    padding: 0;
    margin: 0;

}
.remove_btn:hover{
    cursor: pointer;
}
.cart{
    padding: 6rem 0;
}
.checkout{
    margin-top: var(--mb-6);
}
.border_line{
    width: 300px;
    height: 5px;
    background: var(--text-color);

}
.checkout_btn{
    margin-top: var(--mb-3);
    width: 100%;
    height: 50px;
    background: var(--first-color);
    color: var(--text-color-atl);
    font-size: var(--normal-font-size);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all .35s ease-in-out;
}

.checkout_btn:hover{
    background-color: var(--first-color-atl);
}
/* ============ Media Query ================ */
@media screen and (min-width:768px){
    .nav_list{
        gap: 1rem;
    }
    .home_img{
        width: 540px;
    }
    
}

@media screen and (min-width: 968px){
    :root{
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }

    /* ================ Home ==================== */
    .home_container {
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        gap: 0;
    }
    .home_data{
        order: -1;
    }
    
    /* ================ Menu ==================== */


    .menu_container{
        grid-template-columns: repeat(3, 1fr);
    }
    .menu_data_img{
        width: 300px;
    }
    .menu_data_price{
        margin-bottom: var(--mb-2);
    }
    .add_to_{
        margin-top: var(--mb-3);
    }

    /* =========Footer========================= */
    /* .footer{
        margin-top: var(--mb-6);
background: #f4f4f4;
padding: var(--mb-3) var(--mb-6);

margin-bottom: 0;
position: absolute;
width: 100%;
left: 0;

    } */
    /* ============Cart================== */
    .cart_img{
        width: 300px;
    }
    .cart_item_container{
        text-align: center;
    }

    .adjust_qty{
      justify-content: center;
        gap: var(--mb-2);
      width: 100%;
    }

    .qty_btn{
        left: 132px;
    }

    .decrement_btn{
        bottom: -1px;
    }
    .increment_btn{
        top: 1px;
    }
    
}







